<!DOCTYPE html>
<html>
    <head>
        <title> Get Studying </title>
        <link rel="stylesheet" href="css/style.css">
        <style>
            @import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap');
        </style>
            
    </head>
    <body>
        <main>
            <div class="pomo-container">
                <div class="time-remaining"> </div>
                <div class="button-container">
                    <button class="start-button"> Start </button>
                    <button class="pause-button"> Pause </button>
                </div>       
            </div>
            <div class="banner">
                <a href="/analytics" > <button class="logout-button"> View Analytics </button></a>
                <a href="/logout" > <button class="logout-button"> Log Out </button></a>
            </div>
        </main>
        <script src="js/app.js" defer></script>
    </body>
</html>