:root {
  --color-dark-green: #0d281f;
  --color-light-green: #e1e8e5;
}

body {
  background-color: var(--color-light-green);
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 486;
  font-style: normal;
  color: var(--color-dark-green);
  margin: 0;
  padding: 0;
}

.banner {
  background-color: #0d281f;
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

#weeklyProgressChart {
  width: 600px;
  height: 250px;
  margin: 0 auto;
}

.logout-button {
  font-size: 1rem;
  font-weight: bold;
  color: white;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: color 0.3s ease, text-decoration 0.3s ease;
}

.logout-button:hover {
  color: #f0f0f0;
  text-decoration: underline;
}

.analytics-container {
  max-width: 1200px;
  margin: 40px auto;
  padding: 20px;
  position: relative;
  z-index: 1;
}

.analytics-title {
  text-align: center;
  font-size: 35px;
  margin-bottom: 40px;
}

.analytics-subtitle {
  text-align: center;
  font-size: 28px;
  margin-bottom: 20px;
  font-family: "Crimson Text", serif;
  font-weight: 400;
  font-style: italic;
}

.analytics-section {
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 40px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.stat {
  font-weight: bold;
  font-size: 20px;
}

#pomodoro-chart,
#pomodoro-heatmap {
  width: 100%;
  height: 200px;
}

#pomodoro-heatmap {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.button-container {
  display: flex;
  gap: 1rem;
}

button {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 1rem 2.25rem;
  color: white;
  background-color: #0d281f;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0b1f17;
}

button:active {
  transform: scale(0.95);
}

.heatmap-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

.heatmap-grid {
  display: grid;
  grid-template-columns: repeat(53, 1fr);
  gap: 2px;
}

.heatmap-cell {
  aspect-ratio: 1;
  border-radius: 2px;
  cursor: pointer;
}

.tooltip {
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 8px 12px;
  border-radius: 4px;
  font-size: 12px;
  pointer-events: none;
  z-index: 1000;
  display: none;
}